*{
    padding: 0;
    margin: 0;
}
#add-on{
    margin-bottom: 50px;
}
#add-on .title{
    
    text-align: center;
    font-size: 30px;
    color: #4d4d4d;
    font-weight: 200;
    margin-bottom: 30px;


}
#add-on .flex-container{
    display: flex;
    justify-content: space-between;
    
    padding: 35px 30px 35px 30px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}
#add-on .content h2{
    color: #585858;
    margin-bottom: 10px;
}
#add-on .content p{
    color:#616161;
}
#add-on .pricing{
    font-size: xx-large;
    font-weight: 800;
    color: #585858;
}
#add-on .pricing-period{
    font-size: 20px;
    font-weight: 500;

}
.container{
    width:70%;
    
    margin-left: auto;
    margin-right: auto;
}
#offer{
    background-color: #f3fbff;
    display: flex;
    justify-content: space-between;
    padding:120px 50px 120px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
#offer button{
    background-color: #00b289;
    border: none;
    padding: 0 50px 0 50px;
    border-radius: 3px;
    color: #f3fbff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
    height: 60px;
}

#offer p{
    font-size: 40px;
    color:rgb(83, 82, 82) ;
    
}
#faq{
    margin-bottom: 50px;
}
#faq .title{
    text-align: center;
    font-size: 30px;
    color: #00b289;
    font-weight: 200;
    margin-bottom: 30px;
}
.occordion_title{
    display: flex;
    justify-content: space-between;
}

.accordion {
    color: #616161;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.5s;
  }
  
  .active, .accordion:hover {
    background-color: #f9f9f9; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  .accordion i{
    font-size:24px;color:#dadbda
  }

  
   footer .flex-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    footer .title{
        font-size: 18px;
        margin-bottom: 35px;
        font-weight: 600;
        text-transform: uppercase;
        color: rgb(91, 91, 91);
    }
    footer .content ul {
        list-style: none; 
    }
    footer .content ul li{
        margin-bottom: 10px;
    }
    footer .content ul li a{
    font-size: 18px;
    color: #888988;
    text-decoration: none;
    
}
 

.special-text{
    color: #00b289;
}