
body {
    color: #333;
    background-color: #fff;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 95%;
    justify-content: center;
}
.container{
  margin-left: 300px;
  margin-right: 300px;
  
  
}
  header{
    width: 100%;
    height: 60px;
    background-color: #fff;
  }
  
  .navbar {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px; 
      gap: 10px; 
  }
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(12, 11, 11);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  .logo {
    text-align: left;
     
  }
  
  .logo img {
    width: 100px; 
    height: 30; 
    display: block;
    margin: 0 auto; 
    justify-content: start;
    
 }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #070707    ;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: #00b289

    ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .btn {
  transform: translateY(-10px);
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}
.btn1{
    background-color: #fff;
    color: #00b289 ;
    border: 1px solid #00b289;
    justify-content: end;
}
.btn2{
    background-color: #00b289;
    color: #fff;
    justify-content: end;
}
.btn23{
  width: 90%;
  height: 50px;

}

article div img{
  transform: translatex(+70px);
  transform: translateY(+50px);
  font-weight: bold;
  flex-direction: row;
  height: 90px;
}

.paregrph{
transform: translatex(+60px);
width: 100%;
display: flex;
flex-direction: row-reverse
}
.paregrph h3{
transform: translate(+50px , +30px );
  color: #00b289 ;
  font-weight: bold;
  margin-top: 30px;
}
.year{
  color: #c1c2db;
  margin-right: 10px;
}

  div {
      display: block;
  }

  .date{ 
    display: flex;
  }
  .display{
    display: flex;
    padding: 10px;
  
  }
  .display div{
    padding-left: 20px;
  
  }
  hr{
    border-color: #00b289;

  }
  .subscription-container {
    display: flex;
  justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }

  .subscription-card {
    width: 300px;
    margin: 10px;
    margin-top: 30px;
    border: 1px solid #cccde4;
    padding: 40px;
    border-radius: 5px;
    
  }
  .card{
    display: flex;
    justify-content: space-between;
  }
 .card card2{
    display: flex;
    
  }
  .switch {
    transform: translateY(+15px);
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00b289;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }